/* Fonts-family */
@font-face {
  font-family: 'ProximaNova_reg';
  src: url('../fonts/ProximaNovaCond-Regular.eot');
  src: url('../fonts/ProximaNovaCond-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNovaCond-Regular.woff2') format('woff2'), url('../fonts/ProximaNovaCond-Regular.woff') format('woff'), url('../fonts/ProximaNovaCond-Regular.ttf') format('truetype'), url('../fonts/ProximaNovaCond-Regular.svg#ProximaNovaCond-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova_bold';
  src: url('../fonts/ProximaNovaCond-Bold.eot');
  src: url('../fonts/ProximaNovaCond-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNovaCond-Bold.woff2') format('woff2'), url('../fonts/ProximaNovaCond-Bold.woff') format('woff'), url('../fonts/ProximaNovaCond-Bold.ttf') format('truetype'), url('../fonts/ProximaNovaCond-Bold.svg#ProximaNovaCond-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
/* Colors */
/* Basic setting */
html {
  font-size: 10px;
}
body {
  font-family: 'ProximaNova_reg', sans-serif;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
a:hover {
  text-decoration: none;
}
.button {
  padding: 1rem 2.7rem;
  background-color: #f7af01;
  color: #ffffff;
  font-size: 1.2rem;
  font-family: 'ProximaNova_reg', sans-serif;
  border-radius: 8px;
  text-transform: uppercase;
  border: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.button:hover {
  cursor: pointer;
  background-color: #d39601;
}
/* Typography */
section {
  padding: 10rem 0;
}
.section-header {
  text-align: center;
  margin: 2rem 0 10rem;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 3.6rem;
}
.section-header-light {
  color: #ffffff;
}
/* main header */
.main {
  padding: 3rem 0;
  background: #ffffff url(../img/main-bg.jpg) center center no-repeat;
  background-size: cover;
}
.header {
  height: 7rem;
}
.wrap {
  display: table;
  width: 100%;
  height: 7rem;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
.phone-block {
  text-align: right;
}
.phone-link {
  display: inline-block;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 1.7rem;
  height: 7rem;
  line-height: 7rem;
  color: #292929;
  margin-left: 1.3rem;
}
.main-content {
  margin-top: 10rem;
  /* Главный заголовок */
  /* Идеально ровные стены */
  /* Стоимость работ */
  /* Оплата по факту */
}
.main-content h1 {
  font-family: 'ProximaNova_bold', sans-serif;
  text-transform: uppercase;
  font-size: 4rem;
  line-height: 1.45;
  margin-top: 0;
}
.main-content .main-subtitle {
  font-family: 'ProximaNova_reg', sans-serif;
  font-size: 2.4em;
  margin-top: 40px;
}
.main-content span {
  display: inline-block;
  font-family: 'ProximaNova_reg', sans-serif;
  font-size: 1.8rem;
  background-color: #70c849;
  padding: 30px 40px;
  margin-top: 40px;
  color: #ffffff;
}
.main-content span strong {
  font-size: 3rem;
}
.main-content .main-trigger {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2.2rem;
  text-transform: uppercase;
  margin-top: 35px;
}
/* Главная форма */
.main-form {
  background-color: #ffffff;
  padding: 4rem 5rem;
  text-align: center;
  /* Поле для ввода */
  /* Подписи к полям */
}
.main-form-header {
  font-family: 'ProximaNova_reg', sans-serif;
  font-size: 1.8rem;
  margin-bottom: 4rem;
}
.main-form-input {
  display: block;
  margin: 2rem 0;
  width: 100%;
  padding: 1.5rem;
  border: 1px solid ##dddddd;
  border-radius: 6px;
  font-size: 18px;
}
.main-form label {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  padding: 0.5rem;
  background-color: #ffffff;
  font-family: 'ProximaNova_reg', sans-serif;
  font-size: 1.3rem;
}
.main-form-btn {
  width: 100%;
  height: 6.5rem;
  font-size: 1.6rem;
}
.main-form small {
  display: inline-block;
  margin-top: 1.5rem;
  font-size: 1.3rem;
}
.under-form {
  display: inline-block;
  font-family: 'ProximaNova_reg', sans-serif;
  font-size: 1.2rem;
  margin-top: 35px;
  margin-left: 25px;
}
.features-block {
  text-align: center;
}
.features-block h3 {
  font-size: 2rem;
  font-family: 'ProximaNova_bold', sans-serif;
  margin-bottom: 3rem;
}
.features-block p {
  display: inline-block;
  width: 80%;
  font-size: 1.4rem;
  font-family: 'ProximaNova_reg', sans-serif;
}
.features-img {
  height: 8rem;
}
.features-img img {
  display: block;
  margin: 0 auto;
  margin-bottom: 3rem;
}
.slick-active {
  outline: none;
}
.arrow {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  z-index: 99;
  width: 2rem;
  height: 2rem;
  border: none;
}
.prev {
  left: 0;
  background: url(../img/left-arrow.svg) center no-repeat;
  background-size: 70%;
}
.next {
  right: 0;
  background: url(../img/right-arrow.svg) center no-repeat;
  background-size: 70%;
}
.prices {
  background: url(../img/prices/prices-bg.jpg) repeat center;
}
.prices-header {
  text-align: center;
  color: #ffffff;
  margin-bottom: 10rem;
}
.prices-header h2 {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 3.6rem;
  margin-bottom: 3rem;
}
.prices-header p {
  font-size: 1.8rem;
}
.prices-hb {
  height: 5rem;
}
.prices-button {
  text-align: right;
  margin-top: 2rem;
}
.prices-header-btn {
  width: 40rem;
  padding: 2rem 5rem;
}
.prices-block {
  background-color: #ffffff;
  -webkit-box-shadow: 0 14px 21px rgba(0, 0, 0, 0.17);
          box-shadow: 0 14px 21px rgba(0, 0, 0, 0.17);
  text-align: center;
  padding: 2rem 2.5rem 4rem;
  min-height: 50rem;
}
.prices-block h4 {
  font-size: 1.9rem;
  font-family: 'ProximaNova_bold', sans-serif;
  margin: 3rem 0;
}
.prices-block img {
  width: 100%;
  display: block;
}
.prices-tag {
  display: inline-block;
  margin: 2rem 0;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 1.9rem;
}
.prices-tag strong {
  font-size: 3rem;
}
.prices-list {
  padding: 0;
  list-style: none;
  min-height: 15rem;
  font-size: 1.6rem;
  line-height: 1.6;
}
.prices-list li:before {
  content: '';
  display: inline-block;
  margin-right: 1rem;
  width: 1rem;
  height: 1rem;
  background: url(../img/check.svg) no-repeat center;
  background-size: 100%;
  vertical-align: middle;
}
.popup {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-close {
  position: absolute;
  top: -1.7rem;
  right: -2rem;
  width: 2rem;
  text-align: center;
  border: none;
  background-color: transparent;
  font-size: 3rem;
  color: #ffffff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.popup-close:hover {
  cursor: pointer;
}
.popup-content {
  position: fixed;
  left: 50%;
  top: 10%;
  background-color: #ffffff;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 4rem 5rem;
  text-align: center;
}
.popup-content h4 {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 1.8rem;
}
.popup-content p {
  font-size: 1.8rem;
}
.popup-form {
  margin-top: 3rem;
}
.popup-form-input {
  display: block;
  margin: 2rem 0;
  width: 100%;
  padding: 1.5rem;
  border: 1px solid ##dddddd;
  border-radius: 6px;
  font-size: 18px;
}
.popup-form label {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  padding: 0.5rem;
  background-color: #ffffff;
  font-family: 'ProximaNova_reg', sans-serif;
  font-size: 1.3rem;
}
@media (max-width: 991px) {
  .main {
    background-position: top right;
  }
  .phone-block {
    text-align: center;
  }
  .main-title {
    padding-bottom: 3rem;
    text-align: center;
  }
  .under-form {
    color: #ffffff;
  }
  .prices-button {
    text-align: center;
    padding-bottom: 4rem;
    margin-top: 5rem;
  }
  .prices-header {
    margin-bottom: 0;
  }
  .prices-block {
    margin-top: 3rem;
  }
}
@media (max-width: 767px) {
  .main {
    background-position: top left;
  }
  .header {
    text-align: center;
  }
  .wrap-block {
    text-align: center;
  }
  .main-title {
    margin-top: 4rem;
  }
  .under-form {
    color: #292929;
  }
}
