/* Fonts-family */
@font-face {
  font-family: 'ProximaNova_reg';
  src: url('../fonts/ProximaNovaCond-Regular.eot');
  src: url('../fonts/ProximaNovaCond-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNovaCond-Regular.woff2') format('woff2'), url('../fonts/ProximaNovaCond-Regular.woff') format('woff'), url('../fonts/ProximaNovaCond-Regular.ttf') format('truetype'), url('../fonts/ProximaNovaCond-Regular.svg#ProximaNovaCond-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova_bold';
  src: url('../fonts/ProximaNovaCond-Bold.eot');
  src: url('../fonts/ProximaNovaCond-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNovaCond-Bold.woff2') format('woff2'), url('../fonts/ProximaNovaCond-Bold.woff') format('woff'), url('../fonts/ProximaNovaCond-Bold.ttf') format('truetype'), url('../fonts/ProximaNovaCond-Bold.svg#ProximaNovaCond-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
/* Colors */
/* Basic setting */
html {
  font-size: 10px;
}
body {
  font-family: 'ProximaNova_reg', sans-serif;
}
button:focus,
input:focus,
a:focus {
  outline: none;
}
a:hover {
  text-decoration: none;
}
.button {
  padding: 1rem 2.7rem;
  background-color: #f7af01;
  color: #ffffff;
  font-size: 1.2rem;
  font-family: 'ProximaNova_reg', sans-serif;
  border-radius: 8px;
  text-transform: uppercase;
  border: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.button:hover {
  cursor: pointer;
  background-color: #d39601;
}
/* Typography */
section {
  padding: 10rem 0;
}
/* main header */
.main {
  padding: 3rem 0;
  background: #ffffff url(../img/main-bg.jpg) center center no-repeat;
  background-size: cover;
}
.header {
  height: 7rem;
}
.wrap {
  display: table;
  width: 100%;
  height: 7rem;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
.phone-block {
  text-align: right;
}
.phone-link {
  display: inline-block;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 1.7rem;
  height: 7rem;
  line-height: 7rem;
  color: #292929;
  margin-left: 1.3rem;
}
.main-content {
  margin-top: 10rem;
  /* Главный заголовок */
  /* Идеально ровные стены */
  /* Стоимость работ */
  /* Оплата по факту */
}
.main-content h1 {
  font-family: 'ProximaNova_bold', sans-serif;
  text-transform: uppercase;
  font-size: 4rem;
  line-height: 1.45;
  margin-top: 0;
}
.main-content .main-subtitle {
  font-family: 'ProximaNova_reg', sans-serif;
  font-size: 2.4em;
  margin-top: 40px;
}
.main-content span {
  display: inline-block;
  font-family: 'ProximaNova_reg', sans-serif;
  font-size: 1.8rem;
  background-color: #70c849;
  padding: 30px 40px;
  margin-top: 40px;
  color: #ffffff;
}
.main-content span strong {
  font-size: 3rem;
}
.main-content .main-trigger {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2.2rem;
  text-transform: uppercase;
  margin-top: 35px;
}
/* Главная форма */
.main-form {
  background-color: #ffffff;
  padding: 4rem 5rem;
  text-align: center;
  /* Поле для ввода */
  /* Подписи к полям */
}
.main-form-header {
  font-family: 'ProximaNova_reg', sans-serif;
  font-size: 1.8rem;
  margin-bottom: 4rem;
}
.main-form-input {
  display: block;
  margin: 2rem 0;
  width: 100%;
  padding: 1.5rem;
  border: 1px solid ##dddddd;
  border-radius: 6px;
  font-size: 18px;
}
.main-form label {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  padding: 0.5rem;
  background-color: #ffffff;
  font-family: 'ProximaNova_reg', sans-serif;
  font-size: 1.3rem;
}
.main-form-btn {
  width: 100%;
  height: 6.5rem;
  font-size: 1.6rem;
}
.main-form small {
  display: inline-block;
  margin-top: 1.5rem;
  font-size: 1.3rem;
}
.under-form {
  display: inline-block;
  font-family: 'ProximaNova_reg', sans-serif;
  font-size: 1.2rem;
  margin-top: 35px;
  margin-left: 25px;
}
@media (max-width: 991px) {
  .main {
    background-position: top right;
  }
  .phone-block {
    text-align: center;
  }
  .main-title {
    padding-bottom: 3rem;
    text-align: center;
  }
  .under-form {
    color: #ffffff;
  }
}
@media (max-width: 767px) {
  .main {
    background-position: top left;
  }
  .header {
    text-align: center;
  }
  .wrap-block {
    text-align: center;
  }
  .main-title {
    margin-top: 4rem;
  }
  .under-form {
    color: #292929;
  }
}
